BOT_TOKEN=

ADMIN_IDS=123

TIMEZONE=Europe/Moscow

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=db
DATABASE_USER=user
DATABASE_PASSWORD=password

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=password

LOG_LEVEL=INFO
LOG_PATH_FILE=bot.log
